CarrierAPI/CarrierAPI Test Cases/Connected Services/CarrierAPIXML/CarrierAPIXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PerformShipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceUsed" type="xs:int" />
        <xs:element minOccurs="0" name="serviceID" type="xs:int" />
        <xs:element minOccurs="0" name="width" type="xs:double" />
        <xs:element minOccurs="0" name="height" type="xs:double" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="weight" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformShippingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformShippingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>