CarrierAPI/CarrierAPI/Connected Services/LoggingService/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LoggingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/LoggingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/LoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoggingService_LogSuccess_InputMessage">
    <wsdl:part name="parameters" element="tns:LogSuccess" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_LogSuccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogSuccessResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_LogFailure_InputMessage">
    <wsdl:part name="parameters" element="tns:LogFailure" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_LogFailure_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogFailureResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoggingService">
    <wsdl:operation name="LogSuccess">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/LogSuccess" message="tns:ILoggingService_LogSuccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/LogSuccessResponse" message="tns:ILoggingService_LogSuccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogFailure">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/LogFailure" message="tns:ILoggingService_LogFailure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/LogFailureResponse" message="tns:ILoggingService_LogFailure_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoggingService" type="tns:ILoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogSuccess">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/LogSuccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFailure">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/LogFailure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingService">
    <wsdl:port name="BasicHttpBinding_ILoggingService" binding="tns:BasicHttpBinding_ILoggingService">
      <soap:address location="http://localhost:81/LoggingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>